
# ==== Cloclk inputs (CLK) ====

NET "clk" LOC = "P84" | IOSTANDARD = LVCMOS33;

NET "uart_rxd" LOC = "P79" | IOSTANDARD = LVCMOS33;
NET "uart_txd" LOC = "P81" | IOSTANDARD = LVCMOS33;

NET "pwm<0>" LOC = P78 | IOSTANDARD = LVCMOS33;
NET "pwm<1>" LOC = P80 | IOSTANDARD = LVCMOS33;
NET "pwm<2>" LOC = P82 | IOSTANDARD = LVCMOS33;	
NET "pwm<3>" LOC = P85 | IOSTANDARD = LVCMOS33;	
NET "pwm<4>" LOC = P88 | IOSTANDARD = LVCMOS33;	
NET "pwm<5>" LOC = P94 | IOSTANDARD = LVCMOS33;	
NET "pwm<6>" LOC = P98 | IOSTANDARD = LVCMOS33;	
NET "pwm<7>" LOC = P101 | IOSTANDARD = LVCMOS33;	

